h1{
    text-align: center;
    color: whitesmoke;
}
h2{
    color: white;
    font-family: fantasy;
}
h3{
    color: white;
    font-family: fantasy;
}
li{
    color: rgb(76, 184, 235);
}
img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-attachment: fixed;
}
p{
    text-align: center;
    font-size: large;
    font-family: fantasy;
    font-weight: 100;
    color: white;
}
/* table{ */
    /* text-align: center; */
    /* text-decoration-color: aqua; */
/* } */
tr:hover {background-color:darkcyan;}
th, td {
    padding: 15px;
    text-align: left;
    /* background-image: url("IMG_0408.JPG"); */
  }

  /* .stuff{ */
    /* position: -webkit-sticky; Safari */
    /* position: sticky; */
    /* top: 0; */
    /* background-color: green; */
    /* border: 2px solid #4CAF50; */
  /* } */

  body {
    background-image: url("photo.jpeg");
    /* background-repeat: no-repeat; */
    /* background-position: right top; */
    /* background-attachment: scroll; */
    /* background-blend-mode: lighten; */
    /* background-repeat: repeat-y; */
  }
  #mainhead{
    font-family: fantasy;
    color: white;
  }